.cards {
    position: relative;
    display: flex;
    max-width: 280px;
    min-height: 200px;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    
    transform: rotateY(180deg);
}
.card-check {
    transform: rotateY(0);
}
.cards::after {
    content: "";
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    border-radius: 10px;
    transform: rotateY(180deg);
    backface-visibility: hidden;

}
.cards img {
    border-radius: 5%;
    backface-visibility: hidden;
}

.card-show {
transform: rotateY(180deg); 
cursor: default;
}
.card-finished {
transform:rotateY(180deg);
cursor: default;
}
.card::before {
content:"";
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(140, 174, 200, 0.6);
background-image: url("../img/220124.png");
background-repeat: no-repeat;
background-position: center;
opacity: 0;
z-index: 1;
}
    